.listed-author{
    padding: 15px 0 30px;
}

/* *** BOOK CARD *** */
.author-card{
    border: 1px solid #f2c94c;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.author-card__img{
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.author-card__img > img{
    width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
.author-card__body{
    border-top: 1px solid #f2c94c;
    padding: 8px;
    background-color: #f8efd4;
}
.author-card__title > a{
    color: #c18000;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
.author-card__divider{
    width: 30px;
    height: 1px;
    background-color: #c18000;
    margin: 5px 0;
}
.author-card__text{
    font-size: 14px;
    margin-bottom: 5px;
    color: #4f4f4f;
}
.author-card__time{
    font-size: 13px;
    color: #828282;
}