/* *** dropdown-toggle *** */
a.dropdown-toggle{
    color: #828282;
}
a.dropdown-toggle > i{
    margin-right: 5px;
}
a.dropdown-toggle > span{
    margin-right: 7px;
}
a.dropdown-toggle > span::after{
    display: inline-block;
    margin-left: 7px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
/* *** BOX TITLE *** */
.box-title-wrapper{
    margin-bottom: 15px;
}
.box-title{
    display: flex;
    align-items: center;
}
.box-title__label{
    background-color: #db6323;
    padding: 5px 15px;
    font-size: 21px;
    color: #fff;
    position: relative;
    margin-right: 30px;
    text-transform: capitalize;
}
.box-title__label--highlight{
    background-color: #27ae60;
}
.box-title__label:after {
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 40px;
    right: -16px;
    top: 0;
    border-bottom: 40px solid transparent;
    border-left: 16px solid #db6323;
}
.box-title__label--highlight:after{
    border-left: 16px solid #27ae60;
}
.box-title__view-all > a{
    color: #db6323;
    font-weight: 500;
    font-size: 16px;
}
.box-title__view-all > a > i{
    margin-right: 5px;
}
/* *** BOOK CARD *** */
.book-card{
    border: 1px solid #f2c94c;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.book-card__img{
    padding: 3px 0;
    display: flex;
    justify-content: center;
    height: 200px;
}
.book-card__img > img{
    width: auto;
    max-height: 100%;
}
.book-card__body{
    border-top: 1px solid #f2c94c;
    padding: 8px;
    background-color: #f8efd4;
}
.book-card__title > a{
    color: #c18000;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
.book-card__divider{
    width: 30px;
    height: 1px;
    background-color: #c18000;
    margin: 5px 0;
}
.book-card__text{
    font-size: 14px;
    margin-bottom: 5px;
    color: #4f4f4f;
}
.book-card__time{
    font-size: 13px;
    color: #828282;
}
/* *** AUTHOR CARD *** */
.author-card{
    border: 1px solid #f2c94c;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.author-card__img{
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.author-card__img img{
    width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
.author-card__body{
    border-top: 1px solid #f2c94c;
    padding: 8px;
    background-color: #f8efd4;
}
.author-card__title > a{
    color: #c18000;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
.author-card__divider{
    width: 30px;
    height: 1px;
    background-color: #c18000;
    margin: 5px 0;
}
.author-card__text{
    font-size: 14px;
    margin-bottom: 5px;
    color: #4f4f4f;
}
.author-card__time{
    font-size: 13px;
    color: #828282;
}
/* *** SIMPLE AUTHOR CARD: author page *** */
.authorinfo-card{
    display: flex;
}
.authorinfo-card__avatar{
    margin: 0 20px 0 5px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.authorinfo-card__title{
    color: #db6323;
    font-weight: 500;
    font-size: 30px;
}
.authorinfo-card__text{
    color: #828282;
}
/* *** Button *** */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* Outline buttons */
.btn-outline {
    color: #000;
    background-color: #f8efd4;
    border-color: #f2c94c;
}
.btn-outline-active {
    border-color: #db6323;
    background-color: #f2c94c;
}
/* divider */
.divider{
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    background-color: rgba(0,0,0,.1);
}
/* breadcrumb */
.breadcrumb-wrapper{
    padding: 15px 0;
}
ul.breadcrumb{
    background-color: #f7f4ec;
    padding: .5rem .75rem;
    display: flex;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}
.breadcrumb > li.breadcrumb-item{
    list-style: none;
    color: #6c757d;
}
.breadcrumb-item+.breadcrumb-item:before {
    content: "\f105";
    font-weight: 700;
    font-family: Font Awesome\ 5 Free;
    color: #c18000;
    color: rgba(146,113,49,.7);
    display: inline-block;
    padding-right: .5rem;
}
.breadcrumb > li.breadcrumb-item > a{
    color: #c18000;
}