/* *** Lastest Book *** */
.lastest-book{
    background-color: #f7f4ec;
    padding: 30px 0;
    margin-top: 15px;
}
.wrapper-listed-book{
    padding: 25px 0;
}
.listed-book{
    padding: 20px 0;
}

/* *** BOOK CARD *** */
.book-card{
    border: 1px solid #f2c94c;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.book-card__img{
    padding: 3px 0;
    display: flex;
    justify-content: center;
    height: 200px;
}
.book-card__img > img{
    width: auto;
    max-height: 100%;
}
.book-card__body{
    border-top: 1px solid #f2c94c;
    padding: 8px;
    background-color: #f8efd4;
}
.book-card__title > a{
    color: #c18000;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
.book-card__divider{
    width: 30px;
    height: 1px;
    background-color: #c18000;
    margin: 5px 0;
}
.book-card__text{
    font-size: 14px;
    margin-bottom: 5px;
    color: #4f4f4f;
}
.book-card__time{
    font-size: 13px;
    color: #828282;
}