*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* *** Index *** */
.lastest-book{
    background-color: #f7f4ec;
    padding: 30px 0;
    margin-top: 15px;
}
.wrapper-listed-book{
    padding: 25px 0;
}
.listed-book{
    padding: 20px 0;
}
/* Authors */
.listed-author{
    padding: 15px 0 30px;
}
/* Author */
.authorinfo{
    margin-bottom: 50px;
}
.authorinfo__wrapper{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.authorinfo__content{
    width: 66%;
}
/* Category */
.listed-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listed-option__sort > span{
    margin-right: 7px;
}
/* Sigin */
.signin-area{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url("./../images/signin-bg.jpg") no-repeat 50%;
    background-size: 2500px;
    background-position: top;
    padding: 15px 0;
}
.signin-area__header{
    padding: 20px 0 40px;
    text-align: center;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;
}
.signin-area__header > p{

}
.signin-area__header--bold{
    color: #f2c94c;
}
.signin-box-wrapper{
    width: 70%;
    margin-left: 15%;
}
.signin-area__right-img{
    text-align: right;
    overflow: hidden;

}
.signin-area__right-img > img{
    max-width: 100%;
    border-radius: 8px;
}
/* search */
.search-area-wrapper{
    padding: 15px 0;
}
.search-area{
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
}
.search-input{
    flex: 1;
    height: 40px;
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-btn{
    height: 40px;
    width: 50px;
    border: none !important;
}
/* Muc luc */
.summary-area{
padding: 15px 0 40px;
}
.chappter-list-wrapper{
    /* width: 80%; */
}
.chappter-list__title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #c18000;
    text-transform: capitalize;
}
.chappter-list__content{

}