*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* *** Index *** */
.lastest-book{
    background-color: #f7f4ec;
    padding: 30px 0;
    margin-top: 15px;
}
.wrapper-listed-book{
    padding: 25px 0;
}
.listed-book{
    padding: 20px 0;
}
/* Authors */
.listed-author{
    padding: 15px 0 30px;
}
/* Author */
.authorinfo{
    margin-bottom: 50px;
}
.authorinfo__wrapper{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.authorinfo__content{
    width: 66%;
}
/* Category */
.listed-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listed-option__sort > span{
    margin-right: 7px;
}