.signin-area{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url("./../images/signin-bg.jpg") no-repeat 50%;
    background-size: 2500px;
    background-position: top;
    padding: 15px 0;
}
.signin-area__header{
    padding: 20px 0 40px;
    text-align: center;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;
}
.signin-area__header > p{

}
.signin-area__header--bold{
    color: #f2c94c;
}
.signin-box-wrapper{
    width: 70%;
    margin-left: 15%;
}
.signin-box{
    background-color: hsla(0,0%,100%,.8);
    padding: 15px;
    border-radius: 8px;
}
.signin-box__header{
    margin-bottom: 30px;
}
.signin-box__header > img{

}
.signin-box__divider{
    display: block;
    width: 100px;
    height: 2px;
    background-color: #27ae60;
    margin: 1rem 0;
}
.signin-box__body{

}
.sign-box__label{
margin-bottom: 8px;
}
.signin-box__form-group{
    margin-bottom: 15px;
}
.signin-box__form-group > input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sign-box__action{
    display: flex;
    align-items: center;
}
.sign-box__action > a{
    flex: 1;
    text-align: center;
}
.sign-box__btn{
    background-color: #ffe083;
    border-color: #f2c94c;
    font-weight: 400;
    color: #333;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.signin-box__divider--full{
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: rgba(0,0,0,.1);
}
.sign-box__social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-box__social > p{
    text-transform: uppercase;
    margin-bottom: 7px;
    display: flex;
    font-weight: 500;
}
.sign-box__social-icon{
    background-color: #3b5998;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-box__register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-box__register > p{
    text-transform: uppercase;
    margin-bottom: 7px;
}
.sign-box__register > a{

}
.signin-area__right-img{
    text-align: right;
    overflow: hidden;

}
.signin-area__right-img > img{
    max-width: 100%;
    border-radius: 8px;
}